<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %X{remote.ip} %X{tls.cipher}
                %X{req.headers.user-agent} %X{attrs.some_value} %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="RCEA" class="com.linecorp.armeria.common.logback.RequestContextExportingAppender">
        <appender-ref ref="CONSOLE" />
        <export>remote.ip</export>
        <export>tls.cipher</export>
        <export>req.headers.user-agent</export>
        <export>attrs.some_value:com.example.AttrKeys#SOME_KEY</export>
        <!-- ... or alternatively:
        <exports>remote.ip, remote.port, tls.cipher,
                 req.headers.user-agent,
                 attrs.some_value:com.example.AttrKeys#SOME_KEY</exports>
        -->
        <!-- ... or with wildcard:
        <export>req.*</export>
        -->
        <!-- ... or with custom MDC key:
        <export>remote_id=remote.id</export>
        <export>UA=req.headers.user-agent</export>
        <export>some_value=attr:com.example.AttrKeys#SOME_KEY</export>
        -->
    </appender>
    ...
</configuration>